#game_app {
    border: 1px solid #DDD;
}
.tile_container {
    display: inline-block;
    width: 100px;
    height: 100px;
    perspective: 800px;
    .tile {
        width: 100%;
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        user-select: none;
        transition: transform 0.8s;
        &.tile_animated {
        }
        &.tile_flipped {
            transform: rotate3d(0,1,0,180deg);
        }
        .tile_face {
            margin: 0;
            display: block;
            height: 100%;
            width: 100%;
            line-height: 100px;
            color: white;
            text-align: center;
            font-weight: bold;
            font-size: 14px;
            position: absolute;
            backface-visibility: hidden;
            border-radius: 8px;
        }
        .tile_back {
            transform: rotate3d(0,1,0,180deg);
        }
        .tile_white {
            background: #DDD;
            color: #333;
        }
        .tile_black {
            background: #333;
            color: #DDD;
        }
    }
}
